<h1>Show Page</h1>
<br>
<div class="container-float">
    <h1 class="font-weight-bold"><%= @idea.title %></h1>
    <p class="text-justify"><%= @idea.description%></p>
    <div>
        <small>idea <%= time_ago_in_words(@idea.created_at)%> ago.</small> 
    </div>
<br>
    <div> 
        <%= link_to(
        "Edit",
        edit_idea_path(@idea),
        class: 'btn btn-outline-primary'
        )
        %>
        <%= link_to(
        "Delete",
        idea_path(@idea),
        method: :delete,
        class: 'btn btn-outline-primary',
        data: { confirm: 'Are you sure you want to delete this idea?' }
        )
        %>
    </div>
